.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}
.caption-input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 95%;
}

.file-input {
  display: none;
}

.file-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-label:hover {
  border-color: #3897f0;
}

.file-upload-label .upload-icon {
  font-size: 48px;
  color: #ccc;
}

.file-upload-label .upload-text {
  margin-top: 10px;
  font-size: 16px;
  color: #ccc;
}

.file-input:focus + .file-upload-label {
  outline: 2px solid #3897f0;
}
.selected-file {
  font-size: 80%;
}
/* width: 60%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-top: 1px solid gray;
} */
/* .image-upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f0f0f0;
  border-bottom: 1px solid gray;
  cursor: pointer;
} */
