* {
  margin: 0;
  padding: 0;
}
html body #root .App {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.pointer {
  cursor: pointer;
}
.App {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}
.posts_list {
  flex: 1;
  padding: 20px;
}
.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.app-header-logo {
  object-fit: contain;
  width: 200px;
}
.app_signin {
  display: flex;
  flex-direction: column;
}

/* modal */
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-content {
  margin: 20px;
}
.space-bottom {
  margin-bottom: 10px;
}
.success {
  color: green;
}
.error {
  color: red;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.edit-icon {
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 20px;
}
