.post_img {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
@keyframes imageAppear {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.image-animation {
  animation: imageAppear 0.8s ease-in-out;
}
